# Segmenting and Clustering Neighborhoods in Toronto

## Import libraries

In [14]:
import pandas as pd
import numpy as np

## Parse HTML page into pandas Dataframes

In [4]:
dfs = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [7]:
# Select the desired DataFrame
df = dfs[0]

In [8]:
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

## Drop rows that have a Borough Not assigned

In [11]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[df.Borough != "Not assigned"]

In [12]:
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

## If a Neighbourhood has a Not Assigned value, replace it with the value of Borough

In [22]:
df["Neighbourhood"] = np.where(df['Neighbourhood'] == 'Not assigned', df['Borough'], df['Neighbourhood'])

In [23]:
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

## Group By Postcode and join Neighbourhood values separated by comma

In [29]:
df = df.groupby('Postcode')['Neighbourhood'].agg([('Neighbourhood', ', '.join)]).reset_index()

In [30]:
df.head(10)

  Postcode                                    Neighbourhood
0      M1B                                   Rouge, Malvern
1      M1C           Highland Creek, Rouge Hill, Port Union
2      M1E                Guildwood, Morningside, West Hill
3      M1G                                           Woburn
4      M1H                                        Cedarbrae
5      M1J                              Scarborough Village
6      M1K      East Birchmount Park, Ionview, Kennedy Park
7      M1L                  Clairlea, Golden Mile, Oakridge
8      M1M  Cliffcrest, Cliffside, Scarborough Village West
9      M1N                      Birch Cliff, Cliffside West

## Print shape of DataFrame

In [31]:
df.shape

(103, 2)